.wp-block-t3n53-author-box {
    display: flex;
    .author-avatar {
        flex-shrink: 0;
        margin-right: 1em;
        width: 50%;

        img {
            float: right;
            max-width: 150px;
        }
    }
}